@media only screen and (max-width: 321px) {
	div.titre{
	text-align:center;
	padding: 5px;
	margin: 10px;
	
	
	
}
	#menu, #menu ul     

{
        
		display: inline;
        list-style : none; 
        line-height : 50px; 
        text-align : center; 
}

}
body{
	background-color:CornflowerBlue;
}

p.prix{
	display: table;
	background-color: white;
	border-radius: 5px;
}

p.titre{
	text-align: center;
}


img.title{
	margin-left: auto;
	margin-right: auto;

}

div.titre{
	text-align:center;
	background-color:rgba(255,255,255,1) ;
	padding: 5px;
	margin: 10px;
}

div.contoursmaison{
	background-color:rgba(255,255,255,0.3) ;
	padding: 5px;
	margin: 20px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
	display: inline-block;
	vertical-align: top;
	border-bottom: none;
	border-radius: 5px;
}


nav{
	align-items: center;
}


#menu, #menu ul     

{
        
		padding : 0px; 
        margin : auto; 
        list-style : none; 
        line-height : 50px; 
        text-align : center; 
		align-items: center;
}


#menu 
{
        font-weight : bold; 
        font-family : Arial; 
        font-size : 12px;
		align-items: center;
}


#menu a 
{

        display : block;
        padding : 0; 
        background : #000;         
        color : #fff; 
        text-decoration : none; 

        width : 400px; 
		align-items: center;

}


#menu>li   

{ 

        float : left;     
        border-right : 1px solid #fff;
        width: 33%; 
}




html>body #menu li

{

        border-right: 1px solid transparent ; 

}


#menu li ul 

{ 
        position: absolute; 

        width: 100%;

        left: -999em; 

}



#menu li ul li 
{
        /*float: none;*/
        border-top : 1px solid #fff;
        width: 32.7%; 
}




html>body #menu li ul li                

{

        border-top : 1px solid transparent; 
		align-items: center;
}


#menu li ul ul 

{

        margin    : -22px 0 0 144px ; 

        

        border-left     : 1px solid #fff ;   

}




html>body #menu li ul ul                

{

        border-left     : 1px solid transparent ; 
		align-items: center;
}
	
#menu a:hover    

{

        color: #000; 

        background: #fff; 

}
#menu li:hover ul ul, #menu li.sfhover ul ul 
{

        left: -999em; 

}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  

{

        left: auto;
        min-height:0; 
}


div.contoursmaison:hover{
	box-shadow: 0px 0px 4px 4px rgba(100,20,20,0.6);
}
}